
body {
    background-color: #EAF6F6;
}

h1 {
    color : rgb(156, 228, 228)
}
hr {
    background-color: inherit;
    border-style: none;
    border-top-style: dotted;
    width: 25%;
    border-width: 5px;
}

p {
    margin: 5px;
}

img {
    display: block;
}