
body {
    background-color: #EAF6F6;
    text-align: center;
}

h1 {
    color : rgb(156, 228, 228);
    font-family: "Sacramento";
    font-size: 5.2em;
}
hr {
    background-color: inherit;
    border-style: none;
    border-top-style: dotted;
    width: 25%;
    border-width: 5px;
}

p {
    margin: 5px;
}

table {
    margin: 0 auto 0 auto;
}

.top-cloud{
    position: relative;
    left:17%;
}
.bottom-cloud{
    position: absolute;
}

