.mockup {
	position: absolute;
	width: 100%;
	z-index: 0;
}

.mockup2{
	position:absolute;
	width:98%;
	top:388px;
	margin: 0;
	z-index: 1;
	opacity: 50%;
}

body{
	font-family: 'Montserrat';
	text-align: center;
}

h1,h2,h3 {
	line-height : 1.5;
	font-weight: 700;
}
h1,h2 {
	font-size : 3.0rem;
}
h1 {
	padding-top: 20px;
}
h3 {
	font-size: 1.5rem;
}

.container {
	padding : 7% 15%;
}
#title {
	padding: 35px 185px 0px 185px;
	background-color: #ff4c68;
	color: white;
	font-size: 1.5rem;
	text-align: left;
}

/* navbar */
.navbar-brand{
	font-size: 2.3rem;
	font-family: 'Ubuntu';
	font-weight: 800;
	text-align: left;
}
.navbar{
	padding: 0;
	margin-bottom: 5%;
}
.navbar a{
	color:#fff;
}
.nav-item{
	padding: 0px 10px 0px 20px;
}
.nav-item .nav-link{
	font-size: 1.1rem;
	font-weight: 100;
	color:#fff;
}
.download-button{
	margin: 20px 3% 5% 0;
	font-size: 1rem;
}
.title-image{
	transform: rotate(25deg);
	width:60%;
	margin-top:15px;
	margin-left:50px;
	position : absolute;
}

#features{
	padding: 7% 15%;
	position: relative;
	background: #fff;

}
.feature-elem{
	text-align: center;
	padding: 4.5px;
}
.icon {
	font-size: 3.4rem;
	color: #ef8172;
	margin-bottom: 1rem;
}
.icon:hover{
	color: #ff4c68;
}

/* testimonials */
#testimonials{
	text-align: center;
	background-color: #ef8172;
	color: #fff;
}
#testimonials img {
	width: 10%;
	border-radius:100%;
	margin: 20px;
}
/* press */
#press{
	background-color: #ef8172;
	color: #fff;
	text-align: center;
	padding-bottom: 3%;
}

#press img {
	width: 15%;
	margin: 20px 30px 50px;
}
.carousel-inner {
	padding: 7% 15%;
}
.carousel-inner a {
	color: #fff ;
}

/* pricing */
#pricing{
	padding: 7% 15%;
}
.card {
	text-align: center;
	margin: 5%;
}

#cta{
	background: #ff4c68;
	text-align: center;
	color: #fff;
	padding: 7% 15%;
}

#footer {

	margin: 50px auto;
	line-height: 2.5;
	color: black;
}
#footer .links a {
	margin: 5px;
	color: black;
}

@media screen and (max-width:980px){
	.container-fluid {
		padding: 35px 85px 12px 85px;
	}
	#title {
		text-align: center;
	}
	.title-image{
		position: static;
		transform: rotate(0);
		width: 50%
	}
}
