.content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

@media screen and (min-width:550px){
    .hero {
        width:50%;
        background-size: cover;
    }    
    .top-news {
        width:50%;
    }
    .scores {
        width:60%;
    }
    .weather{
        width:40%;
    }

    .description{
        height: 50%;
    }
}

@media screen and (min-width:850px){
    .top-news, .scores, .hero {
        width:33%;
    }

    .weather{
        width:25%;
    }
    .recent-news {
        width:75%;
    }
}